@use "../../scss/" as *;

.modal {
  @include flex(center, center);
  position: fixed;
  z-index: 100;
  // Utilisation de 'inset: 0' pour top, left, right, bottom: 0
  inset: 0;
  overflow: auto;
  // Utilisation de la variable SCSS pour l'opacité
  background-color: rgba($black, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease; // Ajout d'une transition

  &.active {
    opacity: 1;
    visibility: visible;
  }

  &__content {
    padding: 2rem;
    background-color: $body-bg;
    width: 50%;
    opacity: 0;
    transform: translateY(-250px);
    transition: transform 0.6s ease, opacity 0.6s ease;
    position: relative;

    @include tablet {
      width: 80%;
    }

    &__close {
      position: absolute;
      right: 5px;
      top: 5px;
      font-size: 1.5rem;
      cursor: pointer;

      &:hover {
        color: $main-color;
      }
    }
  }

  // Animation à l'ouverture du modal
  &.active &__content {
    opacity: 1;
    transform: translateY(0);
  }
}
